@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');
.item img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.item{
    display: flex;
    font-family: 'Farro', sans-serif;
    color: rgb(255, 255, 255);
}
.item div{
    padding-right: 5px;
}
h2{
    font-weight: normal;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    

}