.Header{
  grid-area: h;
  background-color: royalblue;
}

.Header img{
  width: 40px;
  padding: 10px;
  height: 40px;
}
.loginBlock{
  float: right;
}
.loginBlock a{
  color: beige;
  text-decoration: none;
  
}