.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.dialogsItems{
padding: 10px;
color: #000000;
}
.cent{
    margin-top: 20px;   
}

.dialogsItems .active{ 
    color: rgb(204, 204, 204);
    }
.dialog {
    padding: 10px;
}
 .lol{
    text-decoration: none;
}
.messages{
padding: 20px;
background: white;
border: solid #3273ba;
border-radius: 10px;
}
.item{
    display: flex;
}

.item img{
    height: 30px;
    width: auto;
    border-radius: 50%;
}
.item p{
    margin-top: 14px;
}