ul li{
  list-style-type:lower-latin;
}
.app-wrapper{
width: 1200px;
margin: 0 auto;

grid-template-areas:
"h h"
"n c" ;

  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}
.app-wrapper-content{
    grid-area: c;
    background-color:whitesmoke;
   }
   .app-wrapper-content .mainImage{
      height: 250px;
      width: 99%;
      padding: 10px;
   }
